# --------------------------------------------------------------------------- #
# Current project ignore:
# --------------------------------------------------------------------------- #

LargeData/
Temp/
Temp*/




# --------------------------------------------------------------------------- #
# Generic OS generated and compiled files:
# --------------------------------------------------------------------------- #

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
default.profraw


*.class
*.pyc
*.pyo
*.aux
*.fls
*.out
*.log
*.blg
*.bbl
*.fdb_latexmk
*~
*.synctex.gz



# --------------------------------------------------------------------------- #
# GitHub Template
# --------------------------------------------------------------------------- #

